.select{
    color: #5256ad;
    cursor: pointer;
    transition: 0.4s;
}

.select:hover{
    opacity: 0.6;
}

.cont{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-height: 200px;
    overflow-y: auto;
    margin-top: 10px;
}

.image{
    width: 75px;
    margin-right: 5px;
    height: 75px;
    position: relative;
}

.input{
    display: none;
}

